html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 1.5rem 150px;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 1.5rem;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem 150px;
  justify-content: center;
}
header img {
  margin-bottom: 1rem;
  position: absolute;
  width: 300px;
  left: 3rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 1px 5px 12px 0 rgb(83 78 76 / 10%);
  width: 350px;
}
.menu-item img {
  width: 300px;
  align-self: center;
}
.form-container {
  max-width: 420px;
  margin: 50px auto;
}

.title {
  font-family: "Roboto Serif", serif;
  font-size: 3rem;
}
nav {
  display: flex;
  gap: 1rem;
}
button {
  font-size: 1.5rem;
  width: 100px;
  height: 50px;
  cursor: pointer;
  line-height: 1;
  margin: 0.5em;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container img {
  width: 30%;
}
h2 {
  text-align: center;
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.7rem;
}

.userinfo {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
input.userinfo:focus {
  border: 2px solid #cc4949;
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: rgb(32, 1, 1);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}
.home-description {
  padding: 50px;
  text-align: center;
  font-size: 32px;
}
